@import "tailwindcss";

:root {
  --bg-primary: #ffffff;
  --text-primary: black;
  --hover-nav: black;
  --hover-lang: rgb(255 237 213);
  --color-active: #ea580c;
  --shadow-dropdown-language: 0 0 15px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
  --bg-card: #f4f4f5;
  --border-card: #d4d4d8;
}

.dark {
  --bg-primary: black;
  --text-primary: #ffffff;
  --hover-nav: white;
  --hover-lang: #1e2939;
  --color-active: yellow;
  --shadow-dropdown-language: 0 0 8px rgb(255, 255, 255), 0 0 3px rgba(255, 255, 255, 0.1);
  --bg-card: #262626;
  --border-card: #404040;
}

.dark header {
  border-color: #333333 !important;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-sans), sans-serif;
}

@keyframes wave {
  0% { transform: rotate(0.0deg); }
  10% { transform: rotate(14.0deg); }
  20% { transform: rotate(-8.0deg); }
  30% { transform: rotate(14.0deg); }
  40% { transform: rotate(-4.0deg); }
  50% { transform: rotate(10.0deg); }
  60% { transform: rotate(0.0deg); }
  100% { transform: rotate(0.0deg); }
}

.animate-wave {
  animation: wave 2.5s ease-in-out infinite;
  transform-origin: 70% 70%;
}
