@import "tailwindcss";

:root {
  --bg-primary: #ffffff;
  --text-primary: black;
  --hover-nav: black;
  --hover-lang: rgb(255 237 213);
  --color-active: #ea580c;
  --shadow-dropdown-language: 0 0 15px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
}

.dark {
  --bg-primary: black;
  --text-primary: #ffffff;
  --hover-nav: white;
  --hover-lang: #1e2939;
  --color-active: yellow;
  --shadow-dropdown-language: 0 0 8px rgb(255, 255, 255), 0 0 3px rgba(255, 255, 255, 0.1);
}

.dark header {
  border-color: #333333 !important;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-sans), sans-serif;
}

html {
  scroll-padding-top: 88px;
}
